.about-content
  h2 About This is site
  .ui.divider
  .ui.warning.message This is pre-alpha!
  h3.ui.header Source code
  a(href="https://github.com/clkao/angular-livescript-seed") github
  | &nbsp; released under the MIT License.

