.ui.top.inverted.collapsible.menu
  .container.hide-print
    .header
      a.left.floated.item.header.brand(href='/') Angular/LiveScript
      .ui.mini.right.floated.button
        i.list.icon
      a.right.floated.item.branding(href='http://livescript.net', target='_blank')
        img(src='http://livescript.net/images/icon.png')
    .content
      a.item(ng-href='/', ng-class="{active:activeTab == ''}") Home
      .right.floated.menu
        a.item.about(ng-href="/about", ng-class="{active:activeTab == 'about'}") 關於
      a.ui.top.right.attached.label.build-id(href="http://github.com/clkao/angular-livescript-seed") {{ config_build }}
