doctype html
html(ng-app='App')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    title(ng-bind-template='{{$state.current.title || "AngularPIXI"}}')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor.js')
    script(src='/js/app.templates.js')
    script(src='/js/app.js')
  body
